/node_modules
/public/build
/public/hot
/public/storage
/public/storage/upload/
/public/storage/upload/*.png
/public/storage/upload/*.jpg
/public/storage/upload/*.jpeg
/public/storage/upload/*.gif
/public/storage/upload/*.bmp
/public/storage/upload/*.tiff
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
