.col-14 {
    width: 14.28%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.content {
    padding-bottom: 20px;
}

.purchase-title-item {
    margin-right: 0 !important;
    padding: 12px 30px !important;
    white-space: nowrap;
    text-align: center;
    font-size: 12px !important;
    background-color: white !important;
    border: 0.5px solid #c9c6c6;
}
.purchase-title-item.active {
    border: none;
}
.purchase-title {
    background-color: #f5f5f5;
    margin-left: -15px;
    margin-right: -15px;
}
.purchase-image img{
    width: 80px;
    height: 80px;
}
.purchase-content {
    padding-left: 12px;
}
.purchase-item {
    padding: 12px 24px;
    background-color: white;
}
.purchase-name {
    font-size: 16px;
    margin: 5px 0px;
}
.purchase-type {
    font-size: 12px;
    color: #757575;
    margin: 5px 0px;
}
.init-money {
    text-decoration: line-through;
    color: #757575;
    font-size: 14px;
}
.discount-money {
    color: #B10000;
    font-size: 16px;
    margin-left: 10px;
}
.total-order {
    background-color: white;
    padding: 24px 12px;
}
.empty-image {
    width: 500px;
    height: 500px;
}

.btn-purchase {
    background-color: #B10000;
    padding: 8px 12px;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #b10000;
}
.btn-purchase:hover {
    background-color: #c00202;
    color: white;
}
.btn-purchase-light {
    border: 1px solid #757575;
    padding: 8px 12px;
    color: #757575;
    background-color: white;
    font-size: 14px;
    border-radius: 4px;
}
.btn-purchase-light:hover {
    color: #3e3d3d;
    border: 1px solid #3e3d3d;
}

.cancel-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.cancel-modal {
    background-color: #fff;
    padding: 20px;
    width: 50%;
    margin: 250px auto;
    border-radius: 8px;
    position: relative;
    z-index: 1000;
}

.confirm-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.confirm-modal {
    background-color: #fff;
    padding: 20px;
    width: 500px;
    margin: 250px auto;
    border-radius: 8px;
    position: relative;
    z-index: 1000;
}

.change-cancel {
    cursor: pointer;
}

.text-vali {
    color: #b10000;
    position: absolute;
    top: -7px;
}
.cancel-label {
    position: absolute;
    color: rgba(0, 0, 0, .4);;
    background-color: #fff;
    z-index: 1;
    left: 30px;
    font-weight: 400;
    font-size: 10px;
    top: -5px;
}
.form-group {
    position: relative;
}

.cancel {
    border: none;
    background-color: rgba(0, 0, 0, .4);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    padding: 8px 24px;
    color: white;
}
.cancel:hover {
    background-color: rgba(0, 0, 0, .8);
    color: white;
}


@media (min-width: 320px) and (max-width: 768px) {
    .col-14 {
        width: 100%;
        
    }
    .purchase-title {
        overflow-x: scroll;
    }
    .purchase-title-item {
        padding: 12px 20px !important;
    }
    .empty-image {
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    .purchase-title-item {
        padding: 12px 8px !important;
    }
    .empty-image {
        width: 80%;
        margin: 10px auto;
    }
    
}
