body {
    position: relative;
    font-family: 'Roboto', 'Alatsi', sans-serif;
}

.l-navbar {
    display: none;
}

a:hover {
    text-decoration: none;
}

.color-750000 {
    color: #750000;
}

.color-B10000 {
    color: #B10000;
}

.color-fff {
    color: #fff;
    ;
}

.p-14px {
    padding: 14px 14px;
}

.topheader {
    background-color: #FF7A00;
}

.topheader a {
    font-size: 12px;
}

.logo-vietnam {
    width: 28px;
    margin-right: 8px;
}

.mainheader {
    background-color: #FFDD15;
}

.mainheader .fa-heart {
    color: #232323;
    font-size: 20px;
}

.input-group-text {
    background-color: #fff;
    color: #FF7A00;
    border-right: none;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.w-120px {
    max-width: 120px;
    border-radius: 0;
    border-left: none;
}

.border-l-r-none {
    border-left: none;
    border-right: none;
}

.forcus-none:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.btn-search {
    background-color: #FF7A00;
    color: #fff;
    border-radius: 10px;
}

.search-header-btn {
    display: flex;
    position: absolute;
    right: 10px;
    top: 1px;
}

.search i {
    font-size: 20px;
    color: #232323;
}

.about-me {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.category {
    padding: 20px 180px;
}

.category a {
    font-size: 16px;
    color: #606060;
}

.divider {
    border-left: 2px solid #000;
    height: 20px;
    width: 0;
}

.about {
    display: flex;
    justify-content: end;
    align-items: center;
}

.avt {
    object-fit: cover;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.menu li {
    padding: 0 16px;
}

.menu a {
    font-size: 15px;
    font-weight: 500;
    line-height: 18.75px;
    color: #535353;
}

.dropdown-menu-category {
    margin-top: 34px;
    width: 253px;
}

.dropdown-img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    margin-left: 12px;
}

.dropdown-item {
    margin: 6px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-item:hover {
    background-color: #EBEBEB;
    color: #FF7A00;
}

.dropdown-item:hover .dropdown-submenu>a::after {
    color: #FF7A00;
}

.btn-post a {
    background-color: #FF0000;
    border: 1px solid #FF0000;
    color: #fff;
    padding: 8px 12px;
    border-radius: 10px;
}

.color-232323 {
    color: #232323;
}

.menu a:hover {
    color: #B10000;
}

.slideshow img {
    width: 100%;
    height: 500px;
    position: relative;
    object-fit: cover;
}

.slideshow-icon {
    position: absolute;
    top: 390px;
}

.slideshow-heading {
    font-family: 'Alatsi';
    font-size: 70px;
    font-weight: 500;
    line-height: 89.6px;
    text-transform: uppercase;
    color: #fff;
}

.slideshow-content {
    position: absolute;
    top: 140px;
}

.slideshow-subheading {
    font-size: 38px;
    width: 600px;
    line-height: 44.53px;
    margin-bottom: 35px;
}

.slideshow-content a {
    background-color: #B10000;
    font-size: 18px;
    border: 1px solid #B10000;
    color: #fff;
    padding: 12px 16px;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    margin: 4px;
}

.carousel-indicators .active {
    background-color: #B10000;
}

.test {
    margin-bottom: -15px;
    margin-top: 10px;
    margin-left: 16px;
    width: 110px;
    border: 2px solid #B10000;
}

.category-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.category-name {
    font-size: 18px;
    font-weight: 500;
    color: #2b2b2b;
    text-align: center;
    padding: 20px 0;
}

.slick-arrow {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    cursor: pointer;
}

.slick-arrow:hover {
    color: #B10000;
}

.slick-prev {
    left: -30px;
}

.slick-next {
    right: -30px;
}

.slick-dots {
    display: none !important;
}

.icon {
    color: #fff;
    left: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px 6px;
}

.icon-hover:hover .icon {
    border: 1px solid #B10000;
    color: #B10000;
}

.prev-arrow,
.next-arrow {
    cursor: pointer;
    font-size: 2rem;
    color: #000;
}

.prev-arrow {
    position: absolute;
    left: 10px;
    z-index: 1;
}

.next-arrow {
    position: absolute;
    right: 10px;
    z-index: 1;
}

.icon-test {
    position: relative;
    margin-right: 55px;
    margin-top: 30px;
}

.icon-test .fa-arrow-left {
    border: 1px solid #B10000;
    border-radius: 50%;
    padding: 3px 4px;
}

.icon-test .fa-arrow-right {
    background-color: #B10000;
    border: 1px solid #B10000;
    border-radius: 50%;
    padding: 3px 4px;
}

.product-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.product-item {
    position: relative;
}

.product-name {
    font-weight: 400;
    line-height: 18.75px;
    color: #222222;
}

.fa-heart-home {
    position: absolute;
    bottom: 110px;
    right: 24px;
    color: #EA0000;
    font-size: 18px
}

.buy {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    color: #fff;
    border: 1px solid #B10000;
    background-color: #B10000;
    padding: 8px 24px;
}

.buy:hover,
.all:hover {
    color: #fff;
    background-color: #4f0000;
}

.all {
    font-weight: 500;
    color: #B10000;
    border: 1px solid #B10000;
    background-color: transparent;
    padding: 8px 14px;
}

.brand-img {
    width: 200px;
    height: 127px;
}

.brand {
    background-color: #f9f9f9;
}



.chat {
    color: #B10000;
    background-color: transparent;
    border-color: #B10000;
}

.icon-change {
    bottom: 90px;
}

.app {
    position: relative;
}

.test-3 {
    position: absolute;
    top: 0;
    bottom: 0;
}

.ip1 {
    margin-top: -35px;
    max-width: 20%;
    height: 80%;

}

.ip2 {
    height: 100%;
    max-width: 15%;
    margin-left: -60px;
}

.appstore {
    margin-top: -10%;
    margin-left: 60%;
    display: block;
    width: 30%;
    height: auto;
    border-radius: 15px;
}

.ggplay {
    margin-left: 60%;
    display: block;
    margin-top: 10px;
    width: 30%;
    height: auto;
    border-radius: 15px;
}

.app-heading {
    font-size: 32px;
    font-weight: 600;
}

.app-content {
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 60px;
}

.app-btn {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 12px 20px;
}

.gift-item {
    cursor: pointer;
    position: relative;
}

.gift-img {
    width: 100%;
    height: 224px;
    border-radius: 15px;
    object-fit: cover;
}

.layer {
    position: absolute;
    width: 44px;
    height: 22px;
    top: 10px
}

.layer p {
    position: absolute;
    color: #fff;
    z-index: 2;
    top: 12px;
}

.icon-change-2 {
    z-index: 2;
    bottom: 8px;
    right: 16px;
}


.gift-btn {
    right: 10%;
    top: 44%;
    position: absolute;
    background-color: #fff;
    color: #B10000;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 8px 16px
}

.layout {
    display: block;
    border-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #151515;
    opacity: 0.3;
}

.gift-hover {
    display: none;
}

.gift-item:hover .gift-hover {
    display: block;
}

.gift-btn:hover {
    color: #fff;
    background-color: #4f0000;
}

.footer-heading {
    font-weight: 600;
    line-height: 18.75px;
    color: #222222;
    margin: 20px 0;
}

.footer-link {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    color: #575757;
    margin-bottom: 10px;
}

.footer-social img {
    margin: 4px;
    width: 30px;
    height: 30px;
}

.footer-zalo {
    width: 90px;
    height: 37px;
    border-radius: 10px;
    cursor: pointer;
}

.footer-momo {
    width: 37px;
    height: 37px;
    border-radius: 10px;
    cursor: pointer;
}

.footer-vnpay {
    width: 118px;
    height: 37px;
    border-radius: 10px;
    cursor: pointer;
}

.footer-bottom {
    background-color: #000;
}

.footer-bottom img {
    width: 111px;
    height: 33px;
}

.footer-bottom p {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
}

.menu-bars {
    display: none;
}

.drop-user-item {
    padding: 5px 0px;
    padding-left: 10px;
    display: block;
    color: #535353;
}

.drop-user-item:hover {
    color: #B10000;
    background-color: #FFF5BC;
}

.drop-user-item i {
    margin-right: 20px;
    color: #B10000;
    width: 16px;
}

.dropdown-item-custom {
    margin: 6px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .75rem 1.5rem;
}

.dropdown-item-active:active {
    background-color: #f0f0f0;
    color: #333;
}


.information-us {
    color: white;
    background-color: #B10000;
    padding: 64px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-us {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}

.content-us {
    display: flex;
    align-items: center;
}

.content-us img {
    margin-right: 12px;
}

.content-us span {
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 300;
}

.wrap-us {
    margin-bottom: 60px;
}

.information-input {
    box-sizing: border-box;
    padding-left: 60px;
}

.wrap-input {
    position: relative;

}

.icon-user-input {
    position: absolute;
    top: 52%;
    left: 22px;
}

.icon-sms-input {
    position: absolute;
    top: 45%;
    left: 22px;
}

.input-user {
    width: 100%;
    margin-top: 33px;
    font-size: 18px;
    padding: 19px 0px 19px 65px;
    color: #5a5a5a;
}

.input-sms {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    padding: 19px 0px 19px 65px;
    color: #5a5a5a;
}

.input-content {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    padding: 19px 22px 19px 22px;
    color: #5a5a5a;
    min-height: 210px;
}

.button-cancel {
    padding: 14px 34px;
    margin-right: 20px;
    font-size: 26px;
    font-weight: 500;
}

.button-send {
    padding: 14px 34px;
    font-size: 26px;
    font-weight: 500;
    line-height: inherit;
}

.wrap-button {
    margin-top: 30px;
    margin-bottom: 30px;
}

.buy-favorite {
    color: white;
    min-width: 145px;
    display: inline-block;
    border: none;

}

.disable-buy {
    pointer-events: none;
    background-color: grey;
    text-decoration: none;
}


@media (min-width: 320px) and (max-width: 768px) {

    .topheader {
        font-size: 12px;
    }

    .information-input {
        padding-left: 0px;
    }

    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 9999;
    }

    .l-navbar {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 0px;
        height: 100%;
        background-color: #FFFFF0;
        padding: 20px 0px 32px;
        transition: .5s;
        z-index: 100;
    }

    .nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    .nav-logo {
        margin-bottom: 32px;
        padding: 0 8px;
    }

    .nav-logo-img {
        width: 100px;
        height: 36px;
    }

    .nav-link {
        display: flex;
        align-items: center;
        padding: 8px;
        margin-bottom: 16px;
        border-radius: 8px;
        color: #750000;
        transition: .5s;
    }

    .nav-link:hover {
        color: #fff;
        background-color: #4f0000;
    }

    .nav-icon {
        font-size: 24px;
        margin-right: 12px;
    }

    .av-text {
        font-weight: 700;
    }

    .show {
        width: 260px;
    }

    .close-sidebar {
        margin: 8px 48px 8px 24px;
    }

    .close-sidebar i {
        font-size: 22px;
    }

    .category {
        display: none;
    }

    .menu-bars {
        display: block;
    }

    .btn-post {
        font-size: 12px;
    }

    .about-me {
        display: none;
    }

    .contact {
        display: none;
    }

    .logo {
        width: 100px;
        height: 35px;
    }

    .slideshow img {
        height: auto;
    }

    .slideshow-heading {
        font-size: 16px;
        line-height: 20px;
    }

    .slideshow-content {
        top: 46px;
        margin-left: 32px;
    }

    .product-name {
        font-size: 12px;
    }

    .slideshow-subheading {
        width: 160px;
        font-size: 10px;
        line-height: 16px;
        margin-bottom: 10px;
    }

    .slideshow-content a {
        font-size: 10px;
        padding: 6px 10px;
    }

    .icon {
        font-size: 8px;
        margin: 2px 3px;
    }

    .category-img {
        width: 80px;
        height: 80px;
    }

    .category-name {
        font-size: 12px;
        padding: 10px 0;
    }

    .list-category {
        margin: 0 !important;
    }

    .product-img {
        height: 150px;
    }

    .brand-img {
        width: 120px;
        height: 90px;
    }

    .brand {
        margin: 0px 12px;
    }

    .slick-arrow {
        display: none !important;
    }

    .icon-change {
        bottom: 85px;
    }

    .icon-test {
        margin-right: 16px;
    }

    .buy {
        font-size: 10px;
        padding: 4px 16px;
    }

    .gift-img {
        width: 100%;
        height: 160px;
    }

    .gift-btn {
        font-size: 12px;
    }

    .app-heading {
        font-size: 12px;
    }

    .app-content {
        font-size: 7px;
        margin-bottom: 4%;
        line-height: 12px;
    }

    .app-btn {
        font-size: 8px;
        padding: 4px 8px;
    }

    .appstore {
        width: 30%;
    }

    .ggplay {
        width: 30%;
        margin-top: 2px;
    }

    .d-n {
        display: none;
    }

    .btn-search {
        font-size: 12px;
    }

    .w-120px {
        font-size: 12px;
    }

    .border-l-r-none {
        font-size: 12px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

    .product-img {
        height: 250px;
    }

    .information-input {
        padding-left: 0px;
    }

    .logo {
        width: 35%;
    }

    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 9999;
    }

    .l-navbar {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 0px;
        height: 100%;
        background-color: #FFFFF0;
        padding: 20px 0px 32px;
        transition: .5s;
        z-index: 100;
    }

    .nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    .nav-logo {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        padding: 0 8px;
    }

    .nav-logo-img {
        width: 100px;
        height: 36px;
    }

    .close-sidebar {
        margin: 8px 48px 8px 24px;
    }

    .close-sidebar i {
        font-size: 22px;
    }

    .nav-link {
        display: flex;
        align-items: center;
        padding: 8px;
        margin-bottom: 16px;
        border-radius: 8px;
        color: #750000;
        transition: .5s;
    }

    .nav-link:hover {
        color: #fff;
        background-color: #4f0000;
    }

    .nav-icon {
        font-size: 24px;
        margin-right: 12px;
    }

    .av-text {
        font-weight: 700;
    }

    .show {
        width: 260px;
    }

    .expander {
        /* padding: 1rem 0 0 16rem; */
    }

    /* .menu {
        display: none;
    } */

    .btn-post a {
        padding: 4px 8px;
        font-size: 14px;
    }

    .btn-search {
        font-size: 14px;
    }

    .w-120px {
        font-size: 14px;
    }

    .d-n {
        display: none;
    }

    .search i {
        font-size: 16px;
    }

    .border-l-r-none {
        font-size: 14px;
    }

    .menu-bars {
        display: block;
    }

    .slideshow-heading {
        font-size: 32px;
        line-height: 60px;
    }

    .slideshow img {
        height: auto;
    }

    .slideshow-content {
        top: 60px;
        margin-left: 44px;
    }

    .slideshow-subheading {
        font-size: 28px;
        width: 330px;
        line-height: 30px;
    }

    .slideshow-content a {
        padding: 8px 12px;
    }

    .category-img {
        width: 80px;
        height: 80px;
    }

    .category-name {
        font-size: 14px;
        line-height: 16px;
    }

    .gift-img {
        width: 100%;
        height: 220px;
    }

    .app-heading {
        font-size: 18px;
    }

    .app-content {
        font-size: 10px;
        line-height: 16px;
        margin-bottom: 6%;
    }

    .app-btn {
        font-size: 12px;
        padding: 6px 12px;
    }

    .header-name {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .category-img {
        width: 80px;
        height: 80px;
    }


    .category-name {
        font-size: 14px;
        line-height: 16px;
    }

    .header-name {
        display: none;
    }

    .app-heading {
        font-size: 24px;
    }

    .app-content {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .app-btn {
        font-size: 14px;
        padding: 8px 12px;
    }

    .btn-post a {
        font-size: 12px;
    }

    .menu li {
        padding: 0 8px;
    }

    .menu a {
        font-size: 14px;
    }

    .category {
        padding: 20px 38px;
    }
}

@media (min-width: 1200px) and (max-width: 1337px) {
    .header-name {
        display: none;
    }

    .category {
        padding: 20px 150px;
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: -10px;
    left: 100%;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

/* .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
} */

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-item-custom img {
    margin: 0;
}

.dropdown-submenu>a:after {
    margin-top: 0px;
}


.slick-next-gift {
    background-color: #fff !important;
    color: #B10000;
}

.slick-next-gift:hover {
    color: #fff;
    /* Màu sắc của biểu tượng khi hover */
    background-color: #B10000 !important;
}

.slick-prev-gift:hover {
    color: #fff;
    /* Màu sắc của biểu tượng khi hover */
    background-color: #B10000 !important;
}

.icon-test-custom .slick-arrow {
    position: relative;
}